header {
    background-color: #046DD5;
}

header a, aside, aside a, footer a, .author, .date{
    font-family: Verdana;
    color: white;
}

aside p {
    font-family: Georgia;
}

aside article{
    margin: 1em;
}

section article {
    margin-right: 1em;
}

.tags, .date {
    margin-top: 1em;
    margin-left: 1em;
}

header a, .author, footer > a, section p{
    padding: 1em;
}

aside {
    background-color: #2A2F33;
}

footer {
    font-family: Georgia;
    background-color: #F4655F;
}

section article, nav {
    background-color: #fff;
}

a {
    text-decoration: none;
}

body > footer {
    background-color: #2A2F33;
    margin-right: 1em;
    margin-top: 1em;
}

footer > p {
    margin-left: 1em;
    color: white;
}

ul a {
    color: #2A2F33;
}

article > p:first-of-type:first-letter {
    font-size: 200%;
}

aside p:first-of-type:first-letter {
    font-size: 100%;
}